@using BlenderParadise.Models.Product;
@model List<ViewProductModel>
@{
    ViewData["Title"] = "Avalable Models";
}
<h1>@ViewData["Title"]</h1>

<link href="~/css/finalcard.css" rel="stylesheet" />

@if (Model.Count <= 0)
{
    <h2 class="display-4">No</h2>
}
<div class="text-center row">
    @foreach (var product in Model)
    {
        <div class="card">
            <div class="card-header">
                <img src="@product.Photo" alt="rover" />
            </div>
            <div class="card-body">
                <span class="tag tag-teal">@product.Category</span>
                <h4>
                    @product.Name
                </h4>
                <span>
                    <form method="get" asp-area="" asp-controller="Product" asp-action="One" asp-route-id="@product.Id">
                        <button type="submit" class="buttonTag buttonTag-teal">View</button>
                    </form>
                </span>
                <div class="user">
                    <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                    <div class="user-info">
                        <h5>July Dec</h5>
                        <small>2h ago</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
