@using System.Security.Claims

@model UserProfileModel
@{
    ViewData["Title"] = $"{Model.UserName}'s profile";

    var userId = User.Claims.FirstOrDefault(a => a.Type == ClaimTypes.NameIdentifier)?.Value;
}
<h1>@ViewData["Title"]</h1>

<link href="~/css/finalCard.css" rel="stylesheet" />

@if (Model.Id == userId)
{
    <h1>Your Profile</h1>
}
<img src="@Model.ProfilePhoto" alt="ProfilePhoto"/>
<span>@Model.UserName</span>
<span>@Model.Bio</span>

<div class="text-center row">
    @foreach (var product in Model.UserModels)
    {
        <div class="card">
            <div class="card-header">
                <img class="profilePic" src="@product.CoverPhoto" alt="rover" />
            </div>
            <div class="card-body">
                <span class="tag tag-teal">@product.Category</span>
                <h4>
                    @product.Name
                </h4>
                <span style="display: flex">
                    @if (Model.Id == userId)
                    {
                        <form method="post" asp-area="" asp-controller="Profile" asp-action="DeleteProduct" asp-route-id="@product.Id">
                            <button type="submit" class="buttonTag buttonTag-delete">Delete</button>
                        </form>
                        <form method="get" asp-area="" asp-controller="Profile" asp-action="EditProduct" asp-route-id="@product.Id">
                            <button type="submit" class="buttonTag buttonTag-edit">Edit</button>
                        </form>
                    }
                    <form method="get" asp-area="" asp-controller="DownloadProduct" asp-action="Download" asp-route-id="@product.Id">
                        <button type="submit" class="buttonTag buttonTag-teal">View</button>
                    </form>
                </span>
                <div class="user">
                    <img src="@Model.ProfilePhoto" alt="user" />
                    <div class="user-info">
                        <h5>July Dec</h5>
                        <small>2h ago</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>