@using System.Security.Claims;
@using BlenderParadise.Models.Profile;
@model UserProfileModel
@{
    ViewData["Title"] = $"{Model.UserName}'s profile";

    var userId = User.Claims.FirstOrDefault(a => a.Type == ClaimTypes.NameIdentifier)?.Value;
}
<h1>@ViewData["Title"]</h1>

<link href="~/css/finalCard.css" rel="stylesheet" />

<style>
    .right-column {
        width: 35%;
        margin-top: 60px;
    }

    .product-description {
        border-bottom: 1px solid #E1E8EE;
        margin-bottom: 20px;
    }

        .product-description p {
            padding: 10px;
            font-size: 16px;
            font-weight: 300;
            color: #86939E;
            line-height: 24px;
        }
</style>

@if (Model.Id == userId)
{
    <h1>Your Profile</h1>
    <form method="get" asp-area="" asp-controller="Profile" asp-action="EditProfile" asp-route-id="@userId">
        <button type="submit" class="buttonTag buttonTag-teal">Edit Profile</button>
    </form>
}
<div class="right-column">
    <img src="@Model.ProfilePhoto" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
    <div class="product-description">
        <p>@Model.Bio</p>
        <p>Contact me:  @Model.Email</p>
    </div>
</div>

<div class="text-center row">
    @foreach (var product in Model.UserModels)
    {
        <div class="card">
            <div class="card-header">
                <img class="profilePic" src="@product.CoverPhoto" alt="rover" />
            </div>
            <div class="card-body">
                <span class="tag tag-teal">@product.Category</span>
                <h4>
                    @product.Name
                </h4>
                <span style="display: flex">
                    @if (Model.Id == userId)
                    {
                        <form method="post" asp-area="" asp-controller="Profile" asp-action="DeleteProduct" asp-route-id="@product.Id">
                            <button type="submit" class="buttonTag buttonTag-delete">Delete</button>
                        </form>
                        <form method="get" asp-area="" asp-controller="Profile" asp-action="EditProduct" asp-route-id="@product.Id">
                            <button type="submit" class="buttonTag buttonTag-edit">Edit</button>
                        </form>
                    }
                    <form method="get" asp-area="" asp-controller="Product" asp-action="One" asp-route-id="@product.Id">
                        <button type="submit" class="buttonTag buttonTag-teal">View</button>
                    </form>
                </span>
                <div class="user">
                    <img src="@Model.ProfilePhoto" alt="user" />
                    <div class="user-info">
                        <h5>@Model.UserName</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>