@model UserProfileModel
@{
    ViewData["Title"] = $"{Model.UserName}'s profile";
}
<h1>@ViewData["Title"]</h1>

<link href="~/css/finalcard.css" rel="stylesheet" />

<span>@Model.UserName</span>
<span>@Model.Bio</span>

<div class="text-center row">
    @foreach (var product in Model.UserModels)
    {
        <div class="card">
            <div class="card-header">
                <img src="@product.CoverPhoto" alt="rover" />
            </div>
            <div class="card-body">
                <span class="tag tag-teal">@product.Category</span>
                <h4>
                    @product.Name
                </h4>
                <span>
                    <form method="get" asp-controller="DownloadProduct" asp-action="Download" asp-route-id="@product.Id">
                        <button type="submit" class="buttonTag buttonTag-teal">View</button>
                    </form>
                </span>
                <div class="user">
                        <h5>July Dec</h5>
                        <small>2h ago</small>
                </div>
            </div>
        </div>
    }
</div>